@page
@model BusinessTrips.WebApp.Pages.Names.IndexModel

@{
    ViewData["Title"] = "Name Index";
}

    <h1>@Html.DisplayNameFor(model => model.Names)</h1>

<p>
    <a asp-page="Create"><i class="far fa-plus-square"></i> New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Names[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Names[0].LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Names) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NameId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
